name: textlint on push

on: [push]

jobs:
  text-lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-target-repo
        uses: actions/checkout@v2

      - name: execute-textlint
        run: "npx textlint blogs/*"

      - name: execute-textlint-4-zenn
        run: "npx textlint articles/*"
